nav {
    ul{
        margin-left: 3em;
    }
    .menu-item {
        padding: 1em;
        a{
            &:focus,
            &:hover,
            &:active{
              border-bottom: 3px solid custom-color('dark-blue');
            }
        }
    }
    
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a{
        background-color: custom-color('brand-green');
        border-radius: 4px;
        padding: 1.5em;
        &:hover{
            text-decoration: none;
        }
    }
}
