nav {
    ul{
        margin-left: 3em;
    }
    .menu-item {
        padding: 1em;
        a{
            &:focus,
            &:hover,
            &:active{
              border-bottom: 3px solid brand-color('dark-blue');
            }
        }
    }
    
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
   
    .nav-previous, .nav-next{
        display: flex;
        background-color: $white;
    }
    a{
        border-radius: 4px;
        padding: 1.5em;
        &:hover{
            text-decoration: none;
        }
    }
}
