.nav-menu-wrapper{
    .main-menu-wrapper{
      .navbar{
            transition: background 0.4s linear;
        }
        .past-banner{
            background-color: $black;
        }
    }

    .sub-menu-wrapper{
        .past-banner{
            display: none !important;
        }
    }
}