.nav-menu-wrapper{
    .main-menu-wrapper{
      .navbar{
            transition: background 0.5s linear;
        }
        .past-banner{
            background: brand-color('light-brown');
            border-bottom: 10px solid brand-color('dark-blue');
        }
    }

    .sub-menu-wrapper{
        .past-banner{
            display: none !important;
        }
    }
}