// this can be made visible by changing display to flex
.sub-menu-wrapper {
    $color: brand-color('dark-blue');
    nav {
        background: linear-gradient($color, darken($color, 2));
        width: 100%;
        display: none; //flex
        height: auto;
        justify-content: center;
        .menu-item{
            padding: 0;
        }
    }
}