/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .nav-menu-wrapper {
        width: 100%;
        height: auto;
        position: fixed;
        z-index: map-get($z-index, 5);
        .main-menu-wrapper{
            height: 100px;
            nav{
                padding: 10px;
            }
        }
        .sub-menu-wrapper{
            margin-top: 10px;
            nav{
                padding: 0;
            }
        }
        nav {
            .nav-link {
                padding: 5px;
                color: $white;
                @include font-scale(1.1);
            }
        }
    }
}