/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .image-slider-wrapper {
        margin-top: -50px
    }
}



.small-slider{
    > .tns-item{
        width: calc(4.44%) !important;
        max-height: 200px;
        overflow-y: hidden;
    }
}