.tns-outer {
    max-width: 100%;

    .card {
        max-width: 100%;
    }
}

.tns-inner {
    flex: 0 0 50%;
    overflow-x: hidden;
}

.controls-wrapper {
    position: relative;
    display: flex;
    margin-left: calc(42.5%);

    .playbutton-wrapper {
        button {
            display: none;
        }
    }

    .controls {
        padding: 0 70px;

        li {
            position: absolute;
            margin-top: 0px !important;
        }
    }
}