article {
    margin-bottom: 4em;
    padding: 2em;
    border-left: solid 6px brand-color('brand-green') !important;
    @include fadeIn(
        $duration: 1s,
        $delay: 1s,
        $function: ease
    );
}