#footer{
    color: $white;
    a {
        color: $white;
        &:focus,
        &:hover,
        &:active {
            text-decoration: none;
            border-bottom: 3px solid custom-color('dark-blue');
        }
    }
}