.controls-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    .playbutton-wrapper {
        button {
            display: none;
        }
    }

    .controls {
        display: flex;
        li{
            margin: 1em 1.7em;
        }
    }
}

#tns1{
    >.tns-item {
        width: calc(18.75%) !important;
    }
}