// Used to view breakpoints and will be commented out in production

/* MORE THAN 75 */
body {
    background-color: skyBlue !important;
}

/* LESS THAN 75 */
@media (max-width: 74.9em) {
    body {
        background-color: pink !important;

    }
}

/* LESS THAN 62 */
@media (max-width: 61.9em) {
    body {
        background-color: blue !important;
    }
}

/* LESS THAN 48 */
@media (max-width: 47.9em) {
    body {
        background-color: green !important;
    }
}

/* LESS THAN 34 */
@media (max-width: 33.9em) {
    body {
        background-color: red !important;
    }
}