#banner{
    margin-top: 10rem;
}
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption-overlay {
    background-color: #333;
    background-clip: border-box;
    border: 1px solid rgba(51, 51, 51, 0.125);
    border-radius: 0.25rem;
    position: absolute;
    opacity: 0.3;
    padding: 100%;
    overflow: hidden;
    left: 0;
}

.carousel-item {
    height: 18em;
    background-color: lighten($black, 90);

    >img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 18em;
    }
}

.carousel-caption-wrapper {
    display: flex;
    justify-content: center;

    .carousel-caption {
        margin-top: 2em;
        color: $white;
        text-align: center;
        border-radius: 5px;
        padding: 1em;
        z-index: 10;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
}

@media (min-width: 34em){
    .carousel-item {
        height: 23em;

        >img {
            height: 23em;
        }
    }
}

@media (min-width: 48em) {

    #banner{
        margin-top: 4em;
    }
    .carousel-item {
       height: 32em;

    > img {
        height:32em;
      }
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 63em){
    #banner{
        margin-top: 8em;
    }
}
@media (min-width: 72em) {

    #banner{
        margin-top: -2em;
    }

    .carousel-item {
        height: 36em;
        >img {
            height: 36em;
          }
      }

    .featurette-heading {
        margin-top: 7rem;
    }
}