$bar-height: 45px;

.search-query{
    margin-bottom: 2em;
}
.sb-search {
    &.sb-search-open {
        width: 100%;
    }
    width: 100%;
    backface-visibility: hidden;
    float: right;
    height: $bar-height;
    margin-top: 10px;
    min-width: $bar-height;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}

input.sb-search-input[type="search"] {
    border-radius: 5px;
}

.sb-search-input {
    background: darken(brand-color('dark-blue'), 7);
    border: medium none;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    height: $bar-height;
    margin: 0;
    outline: medium none;
    padding: 20px 65px 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.sb-search-submit {
    background: $white;
    border: medium none;
    color: transparent;
    opacity: 0;
    outline: medium none;
    z-index: map-get($z-index, 0);
}

.sb-icon-search {
    border-radius: 0px 5px 5px 0px;
    background: brand-color('dark-blue');
    color: $white;
    font-size: 1.5em;
    z-index: map-get($z-index, 1);
    cursor: pointer;
    display: block;
    height: $bar-height;
    line-height: $bar-height;
    position: absolute;
    right: 0;
    text-align: center;
    width: $bar-height;
}

.sb-search-submit {
    cursor: pointer;
    display: block;
    height: $bar-height;
    line-height: $bar-height;
    position: absolute;
    text-align: center;
    width: $bar-height;
}