img {
    max-width: 100%;
}

img:not(.tns-lazy-img),
.lazyload img {
    height: auto;
}

.img {
    font-size: 100px;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

.img a {
    display: block;
    padding: 22% 0;
    color: inherit;
    text-decoration: none;
}